body {
	top: 0;
	background-image: url("/images/corkboard.jpg");
}
h1 {
	text-align: center;
	color: white;
	text-shadow: 2px 2px 3px #222222;
	font-size: 50px;
	margin-bottom: 20px;
}
h2{
	text-align: center;
	color: #333333;
}
.location {
	max-width: 800px;
	margin: auto;
	margin-top: 20px;
	background-color: white;
}
.events {
	overflow: auto;
}
.post {
	background-color: #eeeeee;
	width: 400px;
	margin-left: 20px;
	margin-bottom: 20px;
	padding: 20px;
	float: left;
}
.left-tack {
	/*display: inline;*/
	float: left;
}
.right-tack {
	/*display: inline;*/
	float: right;
	margin-left: 80%;
}
.event-pic {
	display: block;
	max-width: 75%;
	margin: auto;
}
.description {
	padding: 20px;
}
.paper {
	box-shadow: -2px 2px 5px black;
}
#loc-banner {
	text-align: center;
	color: #333333;
	/*text-shadow: 2px 2px 3px #222222;*/
	font-size: 50px;
	margin-bottom: 20px;
	margin-top: -30px;
}