body {
	top: 0;
	background-image: url("/images/corkboard.jpg");
}
h1 {
	text-align: center;
	color: white;
	text-shadow: 2px 2px 3px #222222;
	font-size: 50px;
	margin-bottom: 20px;
}
h2{
	text-align: center;
}

.events {
	overflow: auto;
}
.post {
	background-color: #eeeeee;
	width: 500px;
	margin: 20px;
	margin-left: 40px;
	padding: 20px;
	float: left;
}
.left-tack {
	/*display: inline;*/
	float: left;
}
.right-tack {
	/*display: inline;*/
	float: right;
	margin-left: 80%;
}
.event-pic {
	display: block;
	margin: auto;
}
.description {
	padding: 20px;
}